# Ambiente virtual
.venv/
venv/
agenda-venv/

# Arquivos compilados do Python
__pycache__/
*.pyc

# Banco de dados SQLite
data/
*.sqlite
*.db
*.sqlite3
*.db3
*.sdb
*.s3db

# Variáveis de ambiente
.env