{% extends "base.html" %}

{% block content %}
    <form method="POST">
        <input type="text" name="titulo-tarefa" id="titulo-tarefa" placeholder="titulo da terefa" required>
        <input type="date" name="data-conclusao" id="data-conclusao">
        <button type="submit"> Adicionar tarefa</button>
    </form>
    <p> {{ tarefa.titulo_tarefa}} - {{tarefa.data_conclusao }}</p>
{% endblock %}

<!--Métodos HTTP:
    GET -> "pega" (recupera/obtem) as informacoes
    POST -> "envia" (cadastra/ inclui/adiciona) as informacoes-
    UPDATE -> "atualiza" as informações
    PATCH -> "atualiza" as informações
    DELETE -> "apaga" as informações

-->

<!-- Códigos de retorno:
    2xx - Sucesso 
    3XX - Sucesso , mas rediricionamento
    4XX - Não encontrado (falha na REQUISIÇÃO)
    5XX - Erro do servidor (falha na RESPOSTA)
    
-->